.todo{
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.todo>input{
    width: 300px;
    height: 30px;

}

.todo>button{
    width: 100px;
    height: 36px;
}

.todo>h1{
    font-size: 35px;
    color: rgb(17, 131, 116);
    margin: 30px;
}