.usercard {
    width: 200px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: pink;
}



.user{
    display: flex;
    justify-content: space-between;
    margin:20px auto;
    width: 90%;
    
}

img{
    width: 200px;
}

.usercard.dif{
    background-color: royalblue;

}
.btn{
    display: flex;
    justify-content: start;
    margin: auto;
}
.btn >button{
    width: 150px;
    margin: auto;
}
.text{
text-align: center;
color: blue;
font-size: 78px;

}
