.tasks{
   
    justify-content: center;
    font-size: 30px;
    color: firebrick;
    margin: auto;
    border: 5px solid;
    border-radius: 50px;
    padding: 25px;
    width:80%;

}


.checked{
    opacity: .5;
}

.card{
    width: 18rem;
    background-color: pink;
}
h1{
    font-size: 35px;
    color: rgb(17, 131, 116);
    margin: 30px;
}

